<header class="site-header">
  <nav class="navbar navbar-inverse fixed-top navbar-expand-sm bg-dark navbar-dark ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand mr-4 ml-5" routerLink='/'>ToDo App</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">

        <div class="navbar-nav mr-auto" *ngIf="!currentLogedInUserFlag;else todoPage">
          <a class="nav-item nav-link" [routerLink]="['/login-user']" routerLinkActive="active">Login</a>
          <a class="nav-item nav-link" [routerLink]="['/registration']" routerLinkActive="active">Register</a>
        </div>
        <ng-template #todoPage>
          <div class="nav navbar-nav ">
            <a class="nav-item nav-link" [routerLink]="['/todolist']" routerLinkActive="active">ToDo List</a>
          </div>
        <div class=" nav navbar-nav ml-auto navbar-right">
          <a class="nav-item nav-link" [routerLink]="['/user-profile']" routerLinkActive="active">Profile</a>
          <a class="nav-item nav-link" [routerLink]="['/logout-user']" routerLinkActive="active">Logout</a>
        </div>
        </ng-template>
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>
<div class="footer bg-dark navbar-dark" >
  <p class="p">All Rights Are Reserved!!</p>
</div>