<header class="site-header">
  <nav class="navbar navbar-inverse fixed-top navbar-expand-sm bg-secondary navbar-dark ">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand mr-4 ml-5" routerLink='/'>ToDo App</a>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggle"
        aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarToggle">

        <div class="navbar-nav mr-auto">
          <a class="nav-item nav-link" [routerLink]="['/login-user']">Login</a>
          <a class="nav-item nav-link" [routerLink]="['/registration']">Register</a>
        </div>
        <!--<ng-template #appPage>-->
        <div class=" nav navbar-nav navbar-right">
          <a class="nav-item nav-link" [routerLink]="['/todolist']">ToDoList</a>
          <a class="nav-item nav-link" [routerLink]="['/user-profile']">Profile</a>
          <a class="nav-item nav-link" [routerLink]="['/logout-user'] ">logout</a>
        </div>
        <!--</ng-template>-->
      </div>
    </div>
  </nav>
</header>
<router-outlet></router-outlet>