<div class="container">
    <div class="text-center">
        <h2 style="color:#424949;">Create ToDo</h2>
    </div>
    <div>
        <div class="row justify-content-center">
            <div class="col col-md-5">
                <div class='card'>
                    <div class='card-body'>
                        <div *ngIf='flashMessage'>
                            <div class="alert">
                                {{ warningMessage }}
                                <button type="button" class="close" aria-label="Close"
                                    (click)="flashMessage=!flashMessage">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <form [formGroup]='toDoListForm' (ngSubmit)='createToDOList(toDoListForm)'>
                            <div class="form-group">
                                <label><strong>Name:</strong></label>
                                <input class="form-control" formControlName="name" placeholder="Enter name of list">
                            </div>
                            <!-- <div class="form-group">-->
                            <label><strong>Creation Date:</strong></label>
                            <br>
                            <mat-form-field class="example-full-width" appearance="fill">

                                <!--<input type="date" formControlName="creationDate" min="today">-->
                                <mat-label>Choose a date</mat-label>
                                <input matInput [min]="minDate" format='yyyy-MM-dd'formControlName="creationDate" [matDatepicker]="picker">
                                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                <mat-datepicker #picker></mat-datepicker>
                                <br>
                                <!--</div>-->
                            </mat-form-field>
                            <div>
                                <mat-radio-group formControlName="isReminder" aria-label="Select an option">
                                    <mat-label><strong>Is Reminder?</strong></mat-label>
                                    <span class="mr-2"></span>
                                    <mat-radio-button value="yes" (input)="showReminderDate()">Yes
                                    </mat-radio-button>
                                    <span class="mr-3"></span>
                                    <mat-radio-button value="no" (input)="hideRemiderDate()">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <br>
                            <div *ngIf='addReminderDateDynamically'>
                                <!--<div class="form-group">-->
                                    <label><strong>Reminder Date:</strong></label>
                                    <br>
                                    <mat-form-field class="example-full-width" appearance="fill">                                   <!--<input type="date" formControlName="reminderDate" min="today">-->
                                    <mat-label>Choose a date</mat-label>
                                    <input matInput [min]="minDate" formControlName="reminderDate" [matDatepicker]="picker">
                                    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                                    <mat-datepicker #picker></mat-datepicker>
                                    </mat-form-field>
                                <!--</div>-->
                            </div>
                            <div class="form-group">
                                <label><strong>Categorie</strong></label>
                                <br>
                                <select class="form-control form-inline" formControlName="categorie">
                                    <option value="Work">Work</option>
                                    <option value="Home">Home</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label><strong>Status</strong></label>
                                <br>
                                <select class="form-control form-inline" formControlName="status">
                                    <option value="pending">Pending</option>
                                    <option value="done">Done</option>
                                </select>
                            </div>

                            <div>
                                <mat-radio-group formControlName="isPublic" aria-label="Select an option">
                                    <mat-label><strong> Is Public?</strong></mat-label>
                                    <span class="mr-2"></span>
                                    <mat-radio-button value="yes">Yes</mat-radio-button>
                                    <span class="mr-3"></span>
                                    <mat-radio-button value="no">No</mat-radio-button>
                                </mat-radio-group>
                            </div>
                            <hr>
                            <div class="text-center">
                                <button type="submit" class="btn btn-primary" [disabled]='!toDoListForm.valid'>Add
                                    Task</button>
                                <button class="btn btn-secondary" (click)='cancleCreation()'>Cancel</button>
                            </div>

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>