<div class="container">
    <div class='text-center'>
        <h2 style="color:#424949;">Registration</h2>
        <div class="row justify-content-center">
            <div class="col col-md-5">
                <mat-card>
                    <mat-card-content>
                        <div *ngIf='flashMsg'>
                            <div class="alert">
                                {{ warningMsg }}
                                <button type="button" class="close" aria-label="Close" (click)="flashMsg=!flashMsg">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        </div>
                        <form class="form-signup" [formGroup]='signupForm' (ngSubmit)='registerUser(signupForm)'>
                            <mat-form-field class=" form-group form-signup-full-width">
                                <mat-label>Email</mat-label>
                                <input matInput formControlName="email" placeholder="Ex. abc@example.com">
                                <mat-error *ngIf="f.email.errors?.email && !f.email.errors?.required">
                                    Please enter a valid email address
                                </mat-error>
                                <mat-error *ngIf="f.email.errors?.required ">
                                    Email is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class=" form-group form-signup-full-width">
                                <mat-label>First Name</mat-label>
                                <input matInput formControlName="fname" placeholder="Enter first name">
                                <mat-error *ngIf="f.fname.errors?.pattern && !f.fname.errors?.required">
                                    Please enter a valid first name
                                </mat-error>
                                <mat-error *ngIf="f.fname.errors?.required ">
                                    First Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class=" form-group form-signup-full-width">
                                <mat-label>Last Name</mat-label>
                                <input matInput formControlName="lname" placeholder="Enter last name">
                                <mat-error *ngIf="f.lname.errors?.pattern && !f.lname.errors?.required">
                                    Please enter a valid last name
                                </mat-error>
                                <mat-error *ngIf="f.lname.errors?.required ">
                                    Last Name is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class=" form-group form-signup-full-width">
                                <mat-label>Password</mat-label>
                                <input matInput type='password' formControlName="password">
                                <mat-error *ngIf="f.password.errors?.pattern && !f.password.errors?.required">
                                    *Password should contain at least one uppercase or one lowercase and length should
                                    be of
                                    6 or more characters
                                </mat-error>
                                <mat-error *ngIf="f.password.errors?.required ">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class=" form-group form-signup-full-width">
                                <mat-label>Confirm Password</mat-label>
                                <input matInput type='password' formControlName="cnfPassword">
                                <mat-error
                                    *ngIf="signupForm.get('cnfPassword').errors && signupForm.get('cnfPassword').errors.ConfirmPassword">
                                    *Password is not matching
                                </mat-error>
                                <mat-error *ngIf="f.cnfPassword.errors?.required ">
                                    Password is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class=" form-group form-signup-full-width">
                                <mat-label>Gender</mat-label>
                                <mat-select matNativeControl required formControlName="gender">
                                    <mat-option value="Male">Male</mat-option>
                                    <mat-option value="Female">Female</mat-option>
                                </mat-select>
                                <mat-error *ngIf="f.gender.errors?.required ">
                                    Gender is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <mat-form-field class=" form-group form-signup-full-width">
                                <mat-label>Address</mat-label>
                                <input matInput formControlName="address" placeholder="Enter address">
                                <mat-error *ngIf="f.address.errors?.required && !f.pristine">
                                    Address is <strong>required</strong>
                                </mat-error>
                            </mat-form-field>

                            <div class="form-group text-left">
                                <label>Upload profile pic:</label>

                                <input type="file" formControlName="profileImage" multiple size="50" accept="image/*"
                                    (change)="getFiles($event)">
                            </div>

                            <button mat-raised-button type="submit" [disabled]='!signupForm.valid'
                                color="primary">Register</button>

                        </form>
                    </mat-card-content>
                </mat-card>
            </div>
        </div>
    </div>
</div>